@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	.scrollbar-thin::-webkit-scrollbar {
		width: thin;
	}	

	.scrollbar-thin {
		scrollbar-width: thin;
	}

	.entry-content h2,
	.entry-content h3,
	.entry-content p,
	.entry-content ul,
	.entry-content ol,
	.entry-content blockquote,
	.entry-content figure,
	.entry-content pre {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}

	.entry-content h2 {
		font-size: 1.6666667em;
		line-height: 1.3333333;
	}

	.entry-content h3 {
		font-size: 1.3333333em;
		line-height: 1.5;
	}

	.entry-content p {
		font-size: 1rem;
		line-height: 1.75;
	}

	.entry-content p:first-child {
		margin-top: 0;
	}

	.entry-content ul,
	.entry-content ol {
		padding-left: 1.625em;
		list-style-type: disc;
	}

	.entry-content ul ul,
	.entry-content ol ul,
	.entry-content ul ol,
	.entry-content ol ol {
		list-style-type: circle;
	}

	.entry-content ul ul ul,
	.entry-content ul ol ul,
	.entry-content ol ul ul,
	.entry-content ol ol ul,
	.entry-content ul ul ol,
	.entry-content ul ol ol,
	.entry-content ol ul ol,
	.entry-content ol ol ol {
		list-style-type: square;
	}

	.entry-content ul li,
	.entry-content ol li {
		margin-bottom: 0.5em;
	}

	.entry-content blockquote {
		padding-left: 1em;
		font-weight: 500;
		font-style: italic;
		border-left-width: 0.25rem;
		border-left-color: gray;
	}

	.entry-content pre {

		border-radius: .5rem;
		padding: 1rem;
		overflow-x: auto;
	}

	.entry-content p > code, li > code, dd > code, td > code {
		word-wrap: break-word;
		box-decoration-break: clone;
		color: #e06c75;
		font-size: .9375rem;
		line-height: inherit;
	}

	.entry-content a {
		text-decoration: underline;
		text-decoration-color: #e06c75;
		text-underline-offset: 6px;
		text-decoration-thickness: 2px;
	}

	.entry-content a:hover {
		text-decoration-color: hotpink;
		text-decoration-thickness: 3px;
		text-underline-offset: 5px;
	}

	@media (min-width: 1024px){
		.entry-content p {
			font-size: 1.25rem;
			line-height: 1.7777778;
		}

		.entry-content ul li,
		.entry-content ol li {
			margin-bottom: 0.5em;
			font-size: 1.25rem;
			line-height: 1.7777778;
		}

		.entry-content p > code, li > code, dd > code, td > code {
			font-size: 1.125rem;
			line-height: inherit;
		}
	}

}

@layer components {

	.insert-width {
		@apply max-w-7xl mx-auto px-4 md:px-6 lg:px-8
	}

	.insert-abs-link {
		@apply before:absolute before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:pointer-events-auto
	}

	.insert-grid-2c {
		@apply grid grid-cols-1 md:grid-cols-3 gap-6
	}

	.post {
		@apply bg-zinc-100 rounded-2xl p-4 md:p-6 lg:p-10 mb-8
	}

	.wp-post-image {
		@apply rounded-2xl
	}

	.entry-footer {
		@apply flex items-center space-x-4
	}

	/* Next/prev nav post */

	.post-navigation {
	    @apply my-8;
	}

	.post-navigation .nav-links {
	    @apply flex items-center space-x-4
	}

	.post-navigation .nav-links .nav-previous,
	.post-navigation .nav-links .nav-next {
	    @apply bg-zinc-100 rounded-2xl py-4 px-6 relative hover:bg-zinc-200;
	}

	.post-navigation .nav-links .nav-previous a,
	.post-navigation .nav-links .nav-next a {
	    @apply flex items-center space-x-2 before:absolute before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:pointer-events-auto
	}

	/* ## Comment Area */

	.comments-area {
		@apply bg-zinc-100 rounded-2xl p-4 md:p-6 lg:p-10 mb-8
	}

	/* 1. Comment list */

	.comment-list {
		@apply flex flex-col space-y-4 mb-8
	}

	.comment-list .comment {
		@apply border p-4 md:p-6 bg-zinc-50 rounded-2xl
	}

	.comment-list .parent {
		@apply mt-4
	}
	
	.comment-list .children {
		@apply mt-4
	}

	/* 2. Comment body */

	.comment-body {
		@apply flex flex-col space-y-2
	}

	/* 2.1 Comment body > comment meta */

	.comment-body .comment-meta .comment-metadata {
		@apply text-sm flex items-center flex-nowrap space-x-2 whitespace-nowrap overflow-x-auto
	}

	.comment-body .comment-meta .comment-metadata .edit-link {
		@apply px-3 py-1 border rounded-full hover:bg-zinc-200 leading-none
	}

	.comment-body .comment-meta .comment-author  {
		@apply relative
	}

	.comment-body .comment-meta .comment-author .avatar {
		@apply w-12 h-12 rounded-full float-left mr-4
	}

	.comment-body .comment-meta .comment-author b.fn {
		@apply capitalize
	}

	.comment-body .comment-meta .comment-author b.fn .says {
		@apply hidden
	}

	/* 2.2 Comment body > comment content */

	.comment-body .comment-content {
		@apply py-2
	}

	/* 2.3 Comment body > comment reply */

	.comment-body .reply .comment-reply-link {
		@apply px-4 py-1 border rounded-full hover:bg-zinc-200 text-sm
	}

	/* 3. comment-respond */

	.comment-respond {
		@apply border p-4 md:p-6 bg-zinc-50 rounded-2xl
	}

	/* 3.1 Leave a comment */
	.comment-respond .comment-reply-title {
		@apply text-2xl font-bold mb-2
	}

	/* 3.2 Comment form */
	.comment-respond .comment-form {
		@apply flex flex-col space-y-4
	}

	.comment-respond .comment-form .required {
		@apply text-zinc-300
	}

	.comment-respond .comment-form label {
		@apply block pb-2 text-zinc-500
	}

	.comment-respond .comment-form textarea {
		@apply py-2 px-4 border block w-full rounded-2xl focus:outline-none focus:border-blue-500 focus:ring-blue-500 focus:ring-1
	} 

	.comment-respond .comment-form input {
		@apply py-2 px-4 border block w-full rounded-full focus:outline-none focus:border-blue-500 focus:ring-blue-500 focus:ring-1
	}

	.comment-respond .comment-form input[type="submit"] {
		@apply px-6 py-2 border w-auto bg-blue-500 hover:bg-blue-700 text-white pointer-events-auto
	}

	/* 3.2.1 comment notes */

	.comment-respond .comment-notes {
		@apply text-sm mb-4
	}

	/* 3.2.6 comment form cookies consent */

	.comment-respond .comment-form-cookies-consent {
		@apply flex items-center text-sm
	}

	.comment-respond .comment-form-cookies-consent label {
		@apply flex items-center p-0
	}

	.comment-respond .comment-form input[type="checkbox"] {
		@apply w-auto mr-2
	}

	/* ## Widget */

	.widget {
		@apply bg-zinc-100 rounded-2xl p-4 md:p-6 mb-6
	}

	.widget .wp-block-heading {
		@apply text-xl font-semibold mb-2 before:content-[''] before:border-l before:border-l-8 before:pl-2 before:border-blue-500
	}

	.widget ul li, .widget ol li {
		@apply py-4 border-b
	}

	.widget a:hover {
		@apply hover:text-blue-500
	}

}

@layer utilities {

	.close {
		display: none;
	}

	.open {
		display: block;
	}
	
}